.try_it_now-y{
    position:relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px;
    background: white;
    border:none;
    color:#ffc40c;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    overflow: hidden;
    padding: 1em 2em;
    cursor: pointer;
    margin:4em;
    z-index: 20;
  }
  
  .try_it_now-y span{
  position: relative;
  pointer-events: none;
  }
  
  .try_it_now-y::before{
    --size:0;
    content:'';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #4405f7, transparent);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
  }
  
  .try_it_now-y:hover::before{
    --size: 500px;
    color:#ffc40c;
  }
  
  .try_it_now-y:hover{
    color:#ffc40c;
  }

  
.see-demo-yellow{
    position:relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px;
    background: white;
    border:none;
    color: #ffc40c;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    overflow: hidden;
    padding: 1.5em 4.5em;
    cursor: pointer;
    top: 60px;
    right: 10px;
    z-index: 200;
  }
  
  .see-demo-yellow span{
  position: relative;
  pointer-events: none;
  }

  .display-yellow{
    position: flex;
    margin-top: 20%;
  }

  .display-yellow a:hover{
    color:#ffc40c;
  }

  .display-yellow h1{
      display: flex;
      font-size: 5em;
  }

  .cursor {
    width: 40px;
    height: 40px;
    border: 2px solid #fefefe;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
  }

  

  